<img class="title" src="imgTitle" src="./assets/gameTitlePng.png" alt="">
<div class="contentText">
  <p class="subtitle">
    The purpose of this game is to make use of RxJS library, reactive programing, promises,high order observables, subjects 
    and a large amount of rxjs operators: Mergemap, map filter, takeWhile, mapTo, concatmap, withLatestFrom, startwith, merge, etc
    <span class="disclaimer">*I forced the use of some operators and implementations to put them on practice</span>
  </p>
  <p class="subtitle goal">
    Capture as many pokemons as you can
  </p>
  <button class="startBtn" #startButton>
    Start Game
  </button>
</div>
<div class="contentCanvas">
  <canvas #canvas class="canvas" height="500" width="500"></canvas><div class="contentResult">
    <h2 class="txt">Time:
      <span> {{countDown}}</span> seconds
    </h2>
    <h2 class="txt">Diglets captured:
      <span class="txt__result"> {{score}}</span>
    </h2>
  </div>
</div>
